html, body {        
  /*overflow: hidden;*/
  background-image:url("https://ericdsergio.webhop.me/assets/woodSculpture.png");
}

* {
  box-sizing: border-box;
  font-size:clamp(.6rem, 2vh, 1.5rem);
}

body {

}

.App {

}

/*.TopBar {
  margin:0;
  background-color:rgb(210, 240, 15);
}*/

/*#root > div > div.TopBar > nav.main-nav {
  position:relative;
  height:12%;
  background-color:#302e2e;
  color:yellow;
  width:100%;
  list-style-type: none;
}*/


/*.pageContainer {
  position:absolute;
  top:16vh;
  left:11vw;
  color:#202022;
  height:70vh;
  width:78vw;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
  background: 
  radial-gradient(circle at 90% 5%, rgba(0, 0, 0, 1) 2%, transparent 95%) 90% 25%,
  radial-gradient(circle at 55% 5%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, .7) 90%) 25% 5%,
  radial-gradient(circle at 85% 55%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, .7) 90%) 5% 25%;
}*/






